:root {
  /* Define color variables */
  --dark-red: #331111;
  --bright-red: #831f16;
  --yellow: #ddcc66;
  --dark-peach: #c09268;
}

.content-container {
  /* Add top margin to the content container */
  margin-top: 80px;
}

.comments {
  /* Style for the comments section */
  margin-top: 10rem;
  margin-left: 20px;

  color: var(--dark-peach);

  display: flex;
}

.comments h1 {
  font-size: 30px;
  margin-right: 5rem;
}

.comment-card {
  /* Style for individual comment cards */
  background-color: var(--dark-red);
  border: 2px solid var(--dark-peach);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;

  max-width: 300px;
}

.comment-card__header {
  /* Style for the comment card header */
  margin-bottom: 10px;
}

.comment-card__name {
  /* Style for the commenter's name */
  color: var(--yellow);
  font-size: 18px;
  margin: 0;
}

.comment-card__text {
  /* Style for the comment text */
  color: #ddd;
  margin: 0;
}

.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30rem;
}

#comment-form {
  display: flex;
  flex-direction: column;

  color: var(--dark-peach);

  max-width: 600px;
  padding: 20px;
  border: 2px solid var(--dark-peach);
  border-radius: 5px;

  margin-bottom: 10rem;
}

#comment-form > :nth-child(even) {
  margin-bottom: 20px;

  background-color: var(--dark-red);
  border: 2px solid var(--dark-peach);
  border-radius: 5px;
}

#comment-form button {
  /* Style for the comment submit button */
  background-color: var(--bright-red);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cards {
  /* Display cards in a grid layout */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  max-width: 900px;
}

.card {
  /* Set initial styles for card */
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
}

.card:hover {
  /* Rotate the card on hover */
  transform: rotateX(20deg) rotateY(-10deg); /* Rotate upwards */
}

.card__img-div {
  /* Make the image div shrink to fit content */
  flex-shrink: 0;
}

.card__img {
  /* Set aspect ratio and cover object-fit for card image */
  aspect-ratio: 1/1.5;
  object-fit: cover;
}

.card__text {
  /* Style the card text */
  color: #fff;
  position: absolute;
  bottom: 8%;
  transform: translateY(-50%);
  transition: transform 0.5s;
  font: 700 1.5rem monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 17px;
  width: 100%;
  text-align: center;
}

.card:hover .card__text {
  /* Translate the card text on hover */
  transform: translateZ(50px);
}

.card__steam-link {
  /* Position the Steam link */
  position: absolute;
  bottom: 0%;
  left: 2%;
}

.card__steam-link-img {
  /* Set the size of the Steam link image */
  width: 40px;
}

.lord-icon {
  /* Position the Heart Icon */
  position: absolute;
  bottom: 0%;
  right: 2%;

  width: 40px;
  height: 40px;

  cursor: pointer;
}